@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
      url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
      url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: 400;
  }
  