.footer__background {
  background-color: $black;
  padding-top: 2.625rem;
  position: relative;
}

.footer__container {
  max-width: 12.8125rem;
  display: flex;
  flex-direction: column;
}

.footer__container-logo {
  margin-bottom: 1.1875rem;
}

.footer__adress {
  margin-bottom: 1.8125rem;
}

.footer__adress-p,
.footer__contact-tel,
.footer__contact-tel1,
.footer__contact-mail {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.786;
  color: rgb(150, 153, 166);
}

.footer__contact-mail,
.footer__contact-tel,
.footer__adress-p {
  margin-bottom: 0.75rem;
}

.footer__contact {
  margin-bottom: 2.25rem;
}

.footer__button-btn {
  width: 100%;
  background-color: $orange;
  border: none;
  padding: 0.8125rem 0 0.8125rem 0;
  font-size: 1rem;
  font-family: 'Open Sans';
  color: $white;
  font-weight: 700;
  border-radius: 0.4375rem;
  margin-bottom: 2.125rem;
  cursor: pointer;
}

.footer__icons {
  display: flex;
  margin-bottom: 2.0625rem;
}

.footer__icons-icon {
  width: 2.3125rem;
  height: 2.3125rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__icons--telegram,
.footer__icons--facebook {
  margin-right: 1.0625rem;
}

.footer__icons--telegram {
  background-color: rgb(99, 152, 224);
  background-image: url(../images/footertelegram.png);
}

.footer__icons--facebook {
  background-color: rgb(59, 78, 112);
  background-image: url(../images/footerfacebook.png);
}

.footer__icons--youtube {
  background-color: rgb(159, 36, 49);
  background-image: url(../images/footeryoutube.png);
}

.footer__backgroundTwo {
  background-color: rgb(21, 21, 21);
  padding-bottom: 1.375rem;
  padding-top: 1.5rem;
}

.footer__down-a {
  font-size: 0.6875rem;
  font-family: 'Open Sans';
  color: rgb(98, 98, 99);
  font-weight: 700;
}

.footer__down-li {
  margin-bottom: 0.5625rem;
}

.footer__click {
  opacity: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  background: rgb(51, 51, 51);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  top: -5%;
}

.footer__click-icons {
  width: 0.9375rem;
  height: 0.9375rem;
  fill: rgb(233, 233, 233);
}

@media(min-width: 768px) {
  .footer__click {
    opacity: 1;
  }

  .footer__container {
    max-width: 38.75rem;
  }

  .footer__main {
    display: flex;
  }

  .footer__adress,
  .footer__contact {
    margin-bottom: 0;
    margin-right: 3.125rem;
  }

  .footer__adress-p {
    margin: 0;
  }

  .footer__button {
    width: 12rem;
  }

  .footer__down-list {
    display: flex;
  }

  .footer__down-li {
    margin-bottom: 0;
    margin-right: 2.375rem;
  }

  .footer__icons {
    justify-content: center;
  }
}

@media(min-width: 1200px) {
  .footer__click {
    opacity: 1;
    width: 4.0625rem;
    height: 4.0625rem;
    right: 2%;
    top: 27%;
  }

  .footer__container {
    max-width: 75rem;
  }

  .footer__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.5rem;
  }

  .footer__button-btn {
    width: 12rem;
    margin-bottom: 0;
  }

  .footer__adress {
    margin-right: 9rem;
  }

  .footer__adress-p {
    margin: 0;
  }

  .footer__contact {
    margin-right: 10rem;
  }

  .footer__icons {
    margin-bottom: 0;
  }

  .footer__background {
    padding-bottom: 3.75rem;
  }

  .footer__down-li {
    margin-right: 4.75rem;
  }
}

.footer__visually-hidden:not(:focus):not(:active),
input[type="checkbox"].footer__visually-hidden,
input[type="radio"].footer__visually-hidden {
  position: absolute;

  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
