* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
a,
button {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

$baseFontSize: 16px;

@function pxToRem($val) {
  $remSize: $val/$baseFontSize;
  @return #{$remSize}rem;
}

.container {
  max-width: pxToRem(1200px);
  min-width: pxToRem(288px);
  margin: 0 auto;
  padding: 0 1rem;
}
