
// Width of all container

.section2_S2 {
  min-width: 320px;

  @media(min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  @media(min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }

}

// Style of title

.section2_titleBox {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: 20px auto;

  @media(min-width: 768px) {
    display: flex;
    width: 420px;
    margin: 20px 55px;
  }

  @media(min-width: 1200px) {
    display: flex;
    width: 440px;
    margin: 20px 20px;
  }
}

.section2_title {
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
  color: $black;
  font-weight: bold;

  @media(min-width: 768px) {
    font-size: 32px;
  }

  @media(min-width: 1200px) {
    font-size: 33px;
  }


}

.section2_icon {
  position: relative;
  top: -5px;

}

.section2_icon-img {
  border: 6px solid $orange;
  border-radius: 18px;
  background-color: $orange;

  @media(min-width: 768px) {
    border: 12px solid $orange;
    border-radius: 20px;
    background-color: $orange;
  }
}

// Style our card

.section2_cardOne {
  width: 280px;
  height: 240px;
  margin: 0 auto;
  background-color: $light-grey;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  border-radius: 10px;

  @media(min-width: 768px) {
    width: 310px;
    height: 300px;
    margin: 0;
  }

  @media(min-width: 1200px) {
    width: 290px;
    height: 300px;
    margin: 0;
  }


}

.section2_C1,
.section2_C3 {
  @media(min-width: 768px) {
    margin-left: 55px;
  }

  @media(min-width: 1200px) {
    margin: 0;
    border-right: 1px dashed #e3e3e4;
  }
}

.section2_C1 {
  @media(min-width: 768px) {
    border-right: 1px dashed #e3e3e4;
    border-bottom: 1px dashed #e3e3e4;
  }

  @media(min-width: 1200px) {
    border-bottom: none;
  }
}

.section2_C4 {
  @media(min-width: 768px) {
    border-top: 1px dashed #e3e3e4;
    border-left: 1px dashed #e3e3e4;
  }

  @media(min-width: 1200px) {
    border-top: none;
    border-left: none;
  }
}

.section2_C2 {
  @media(min-width: 1200px) {
    border-right: 1px dashed #e3e3e4;
  }
}

.sectionTwo {

 

  @media(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    
  }

  @media(min-width: 1200px) {
    margin: 0 auto;
    padding-bottom: 6.25rem;

  }

}


.section2_cardOne__title,
.section2_cardOne__txt {
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 25px;

  @media(min-width: 768px) {
    padding-bottom: 25px;
  }

}

.section2_cardOne__title {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  color: $black;

  @media(min-width: 768px) {
    font-size: 30px;
  }
}

.section2_cardOne__txt {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  color: $grey;
}

.section2_cardOne__Two {
  display: flex;
  margin-bottom: 20px;
  margin-left: 35px;

}

.section2_cardOne__Two__number {
  font-size: 30px;
  font-family: "OpenSans", sans-serif;
  color: $orange;
  font-weight: 700;

  @media(min-width: 768px) {
    font-size: 40px;
  }

}

.section2_cardOne__Two__txt {

  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  color: $orange;
  text-decoration: underline;

}

.section2_cardOne__link {
  padding-left: 35px;
}

// Hover of our card

.section2_cardOne:hover {
  background-color: $orange;
}

.section2_cardOne:hover p:not(.section2_cardOne__title) {
  color: $white;
}

.section2_cardOne:hover>a>svg {
  fill: white;
  transform: scalex(1.8);
}

// SVG LINK WIDTH

.section2_cardOne__svgwidth {
  fill: $orange;
  width: 30px;
  height: 30px;

  @media(min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

